{% extends 'base/main.html' %}
{% load static %}

  {% block content %}
   <!-- body -->
   <body class="main-layout inner_posituong computer_page">
      
      {% include 'base/header.html' %}

      <div class="about">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-5">
                  <div class="titlepage">
                     <h2>About Us</h2>
                     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                     <a class="read_more" href="#">Read More</a>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="about_img">
                     <figure><img src="{% static 'base/images/about.jpg'%}" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      <!-- end about section -->
      <!--  footer -->
    {% include 'base/footer.html' %}
    <!-- end footer -->
      <!-- Javascript files-->
      <script src="{% static 'base/js/jquery.min.js'%}"></script>
      <script src="{% static 'base/js/popper.min.js'%}"></script>
      <script src="{% static 'base/js/bootstrap.bundle.min.js'%}"></script>
      <script src="{% static 'base/js/jquery-3.0.0.min.j'%}s"></script>
      <!-- sidebar -->
      <script src="{% static 'base/js/jquery.mCustomScrollbar.concat.min.js'%}"></script>
      <script src="{% static 'base/js/custom.js'%}"></script>
   </body>
{% endblock %}

