{% extends 'base/main.html' %}
{% load static %}
  
  
  {% block content %}
  <style>
      *{
          color: black;
          font-size: 20px;
      }
  
      .login-cntr {
          display: flex;
          height: 40px;
          flex-direction: column;
          margin-top: 15px;
          justify-content: center;
          align-items: center;
      }
  </style>
  
       <body class="main-layout inner_posituong contact_page">
          <!-- header -->
         {% include 'base/header.html' %}
  
          <div class="contact">
             <div class="container">
                <div class="row">
                   <div class="col-md-12">
                      <div class="titlepage">
                         <h2>Add Brand</h2>
                      </div>
                   </div>
                </div>
                <div class="row">
                   <div class="col-md-10 offset-md-1">                  
                            <form method="post" class="main_form" id="request" action="">
                              {% csrf_token %}
                                  <div class="row">
                                      {% for field in forms%}
                                      <label>{{field.label}}</label>
                                      <div class="col-md-12 ">
                                      {{field}}
                                      </div>
                                      {% endfor %}
                                      <div class="col-md-12">
                                      <button class="send_btn" type="submit">Add Brand</button>
                                      </div>
                                  </div>
                              <div class="login-cntr">
                                  <p>Want to add Product</p>
                                  <a class="btn btn-primary" href="{% url 'add-product' %}">Add Product</a>
                              </div>
                           </form>
                           
                   </div>
                </div>
             </div>
          </div>
  </body>
  
    {% endblock %}
  