{% extends 'base/main.html' %}
{% load static %}

{% comment %} 
{% block content %}

<style>
    .login-form{
        position: absolute;
        top: 60%;
        left: 50%;
        width: 50%;
        transform: translate(-50%, -50%);
        background-color: #3f4156;
        border-radius: 8px;
    }
    
    .login-form *{
        display: block;
    }
    
    .login-form  .login-cntr{
        text-align: center;
        margin-top: 0px;
        padding: 0px;
    }
    .login-form label,p{
       color: #8b8b8b
    }

    .login-form a{
        font-size: 20px;
        color: green;
     }

     .login-form a:hover{
        font-size: 20px;
        color: blue;
     }
    {% endcomment %}
    
    {% comment %} 
    form {
        padding: 15px;
        color: #696d97;
    }
    
    form *{
        margin: 10px;
    }
    
    
    form input{
        padding: 8px;
        padding-right: 30%;
        background-color: #3f4156;
        border: 1px solid #696d97;
        border-radius: 8px;
    }
</style>

<body> {% endcomment %}
  
{% comment %} 
{% if page == 'login' %}
<div class="login-form">
    <div class="login-cntr">
        <h1>LOGIN</h1>
    </div>

   <form method="post" action="">
       {% csrf_token %}
        {{forms}}
        <button class="btn btn-primary" type="submit">Login</button>
    </form>

    <div class="login-cntr">
        <p>Haven't Signed up Yet?</p>
        <a href="{% url 'register' %}">Sign Up</a>
    </div>
</div>

{% else %}

<div class="login-form">
    <div class="login-cntr">
        <h1>REGISTER</h1>
    </div>
   <form method="post" action="">
        {% csrf_token %}
        <div class="login-content">
        {% for field in form %}
             <label>{{field.label}}</label>
           <div class="abc">
               {{field}}
           </div>
        {% endfor %}
            <button type="submit" class="btn btn-primary" value="Register">Register</button>
        </div>


    </form>
    <div class="login-cntr">
    <p>Already Signed up?</p>
    <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
    </div>
{% endif %}
</div>

</body>

  {% endblock %} {% endcomment %}

{% comment %} --------------------------------------------------------------------------------------------------------------------------------- {% endcomment %}

  
  
  {% block content %}

    <style>
        *{
            color: black;
            font-size: 20px;
        }

        .login-cntr {
            display: flex;
            height: 40px;
            flex-direction: column;
            margin-top: 15px;
            justify-content: center;
            align-items: center;
        }
    </style>

     <body class="main-layout inner_posituong contact_page">
        <!-- header -->
       {% include 'base/header.html' %}


       {% if page == 'login' %}
        <div class="contact">
           <div class="container">
              <div class="row">
                 <div class="col-md-12">
                    <div class="titlepage">
                       <h2>Login</h2>
                    </div>
                 </div>
              </div>
              <div class="row">
                 <div class="col-md-10 offset-md-1">                  
                          <form method="post" class="main_form" id="request" action="">
                            {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12">
                                    {{forms}}
                                    </div>
                                    <div class="col-md-12">
                                    <button class="send_btn" type="submit">Login</button>
                                    </div>
                                </div>
                            <div class="login-cntr">
                                <p>Don't have Account?</p>
                                <a class="btn btn-primary" href="{% url 'register' %}">Register</a>
                            </div>
                         </form>
                         
                 </div>
              </div>
           </div>
        </div>

    {% else %}

    <div class="contact">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="titlepage">
                    <h2>Register</h2>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-md-10 offset-md-1">                  
                       <form method="post" class="main_form" id="request" action="">
                         {% csrf_token %}
                             <div class="row">
                                {% for field in form %}
                                <label>{{field.label}}</label>
                                <div class="col-md-12 ">
                                  {{field}}
                                </div>
                                {% endfor %}
                                 <div class="col-md-12">
                                 <button class="send_btn" type="submit">Register</button>
                             </div>
                         </div>
                         <div class="login-cntr">
                            <p>Already Registered?</p>
                            <a class="btn btn-primary" href="{% url 'login' %}">LOGIN</a>
                        </div>
                     </form>
              </div>
           </div>
        </div>
     </div>

     {% endif %}

        <!-- end contact -->
        <!--  footer -->
        {% include 'base/footer.html' %}
        <!-- Javascript files-->
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/jquery-3.0.0.min.js"></script>
        <!-- sidebar -->
        <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="js/custom.js"></script>
     </body>
  
     {% endblock %}
  
